.btnLeft{
  background-color: #D2691E;
  border-radius: 0px 11px 11px 0px;
  -webkit-border-radius: 0px 11px 11px 0px;
  height: 50px;
  position: relative;
  top: 175px;
  width: 50px;
  float: left;
}

.btnRight{
  background-color: #D2691E;
  border-radius: 11px 0px 0px 11px;
  -webkit-border-radius: 11px 0px 0px 11px;
  height: 50px;
  position: relative;
  top: 175px;
  width: 50px;
  left: 650px;
}

.btnLeft:HOVER{
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  background-color: #fff;
  border-radius: 0px 15px 15px 0px;
  -webkit-border-radius: 0px 11px 11px 0px;
 
}

.btnRight:HOVER{
  -webkit-transition: all 0.3s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.3s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.3s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.3s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */
  background-color: #fff;
  border-radius: 15px 0px 0px 15px;
  -webkit-border-radius: 11px 0px 0px 11px;
}
