.block1{
        background-image: linear-gradient(to bottom, hsl(0, 80%, 70%), #bada55);
        width : 200px;
	height: 200px;
}

.block2{
        background-image: linear-gradient(to top, hsl(0, 80%, 70%), #bada55);
        width : 100px;
	height: 100px;
   
}

.block3{
        background-image: linear-gradient(to bottom, hsl(0, 80%, 70%), #bada55);
        width : 100px;
	height: 200px;
}

.block4{
        background-image: linear-gradient(to top, hsl(0, 80%, 70%), #bada55);
        width : 200px;
	height: 100px;
   
}
