ul {
	list-style-type: none;
}

.adminheader li {
	display: inline-block;
}

.adminheader li > div {
	width: 100px;
	height: 20px;
}

.adminfooter li {
	display: inline;
}

#sortable-list {
	padding: 0;
}
#sortable-list > li {
	padding: 4px 8px;
	color: #000;
	cursor: move;
	list-style: none;
	width: 500px;
	height: 24px;
	background: #ddd;
	margin: 10px 0;
	border: 1px solid #999;
}

#sortable-list > li div{
	position: relative;
	float: left;
	width: 80px;
}
