/*
 	Editor
 */
#editor{
	width: 806px;
	height: 506px;
	overflow: hidden;
}


/*
 	IN
 */

#chooserhin li, #chooservin li, #chooserhout li, #chooservout li {
  list-style-type: none;
}

#editor span, #editor svg{
	width: 50px;
	height: 50px;
}

#chooservin, #chooserhout, #chooservout{
	float: left;
    position: relative;
}

#chooserhin{
  margin-left: 53px;
  width: 315px;
  height:150px;
  overflow: hidden;
}
#chooserhin .btnc {
  position: relative;
  width: 25px;
  height: 50px;
  top: -50px;
  overflow: hidden;
  z-index: 2;
}
#chooserhin .btnf{
  left: 290px;
  top: -100px;
  background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
}
#chooserhin .btnb{
  background: -webkit-linear-gradient(left,rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
 }
#chooserhin .icon{
  width: 50px;
  height: 50px;
  background-color: #AAA;
  float: left;
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transiton: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -transition: background-color 0.2s;
}
#chooserhin ul{
  margin: 0;
  padding: 0;
  width: 1400px;
  position: relative;
  z-index: 2;
}
#chooserhin .icon:hover{
  background-color: #555;
}
#chooserhin .icon ul {
  top: 50px;
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
}
#chooserhin .icon ul li{
  float: none;
  background-color: #AAAFFF;
  display: block;
}
#chooserhin .icon ul li:hover { background: #A0A; }
#chooserhin .icon:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#chooservin{
  top: -97px;
  clear: both;
  width: 165px;
  height:315px;
  overflow: hidden;
}
#chooservin .btnc{
  position: relative;
  width: 50px;
  height: 25px;
  z-index: 1;
}
#chooservin .btnf{
  top: -318px;
  background: -webkit-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
}
#chooservin .btnb{
  top: -583px;
  background: -webkit-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
 }
#chooservin .icon{
  width: 50px;
  height: 50px;
  background-color: #AAA;
  margin-bottom: 3px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transiton: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -transition: background-color 0.2s;
}
#chooservin ul{
  margin: 0px;
}

#chooservin ul span{
  float: left;
}

#chooservin .icon ul {
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  left: 50px;
  
}
#chooservin .icon ul li{
  background-color: #AAAFFF;
  float: left;
}
#chooservin .icon ul li:hover {
  background: #A0A;
}
#chooservin .icon:hover > ul {
  display: block;
  z-index: 2;
  opacity: 1;
  visibility: visible;
}

/*
	OUT
*/

#chooserhout{
  margin-left: 0;
  margin-right: 53px;
  top: -824px;
  width: 315px;
  height:150px;
  overflow: hidden;
  clear: both;
  float: right;
}
#chooserhout .btnc {
  position: relative;
  width: 25px;
  height: 50px;
  top: 50px;
  overflow: hidden;
  z-index: 2;
}
#chooserhout .btnf{
  left: 290px;
  top: 0px;
  background: -webkit-linear-gradient(left,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
}
#chooserhout .btnb{
  background: -webkit-linear-gradient(left,rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(right,rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
  background: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
 }
#chooserhout .icon{
  width: 50px;
  height: 50px;
  background-color: #AAA;
  float: left;
  display: inline-block;
  margin-right: 3px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transiton: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -transition: background-color 0.2s;
}
#chooserhout ul{
  margin: 0;
  padding: 0;
  width: 1400px;
  position: relative;
  z-index: 2;
  top: 100px;
}
#chooserhout .icon:hover{
  background-color: #555;
}
#chooserhout .icon ul {
  top: -100px;
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
}
#chooserhout .icon ul li{
  float: none;
  background-color: #AAAFFF;
  display: block;
}
#chooserhout .icon ul li:hover { background: #A0A; }
#chooserhout .icon:hover > ul {
  display: block;
  opacity: 1;
  visibility: visible;
}
#chooservout{
  width: 165px;
  height:315px;
  overflow: hidden;
  left: 656px;
  top: -727px;  
}
#chooservout .btnc{
  position: relative;
  width: 50px;
  height: 25px;
  z-index: 1;
  left: 100px;
}
#chooservout .btnf{
  top: -318px;
  background: -webkit-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(255,255,255,0),rgba(255,255,255,1)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1)); /*Standard*/
}
#chooservout .btnb{
  top: -583px;
  background: -webkit-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0)); /*Safari 5.1-6*/
  background: -o-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0)); /*Opera 11.1-12*/
  background: -moz-linear-gradient(bottom,rgba(255,255,255,1),rgba(255,255,255,0)); /*Fx 3.6-15*/
  background: linear-gradient(to bottom, rgba(255,255,255,1), rgba(255,255,255,0)); /*Standard*/
 }
#chooservout .icon{
  width: 50px;
  height: 50px;
  background-color: #AAA;
  margin-bottom: 3px;
  cursor: pointer;
  overflow: hidden;
  -webkit-transiton: background-color 0.2s;
  -moz-transition: background-color 0.2s;
  -ms-transition: background-color 0.2s;
  -o-transition: background-color 0.2s;
  -transition: background-color 0.2s;
}
#chooservout ul{
  margin: 0px;
  position: relative;
  left: 100px;
}

#chooservout ul span{
  float: left;
}

#chooservout .icon ul {
  position: absolute;
  display: none;
  opacity: 0;
  visibility: hidden;
  left: -100px;
  
}
#chooservout .icon ul li{
  background-color: #AAAFFF;
  float: left;
}
#chooservout .icon ul li:hover {
  background: #A0A;
}
#chooservout .icon:hover > ul {
  display: block;
  z-index: 2;
  opacity: 1;
  visibility: visible;
}