#position{
  float: left;
  width: 700px;
  max-width: 90%;
  position: relative;
  left: 53px;
  top: -412px;
}
.position{
  overflow: hidden;
  width: inherit;
  height: inherit;
  background: none repeat scroll 0 0 #AAAAAA;
  z-index: 0;
  height: 400px;
}

#draggable{
  position: relative;
  width: 100px;
  height: 50px;
  background: none repeat scroll 0 0 #0FF;
}
@media screen and (max-width: 1280px){
  .span8{
  	clear: both;
  }
}
